#footer {
  padding: 65px 0px;
  background-color: #161722;

  .footer-container {
    display: grid;
    grid-template-columns: auto 45%;
    align-items: start;
  }

  .footer-left {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;

    li {
      font-weight: 400;
      color: #ffffff;
      a {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        opacity: 0.78;

        &:hover {
          color: #ffd2a4;
          transition: 1s;
        }
      }
    }
  }

  .footer-right {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    h4 {
      max-width: 377px;
    }

    form {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 12px;

      input {
        padding: 20px 0px 20px 20px;
        text-transform: capitalize;
        font-weight: 400;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}

.footer-list_3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .social {
    display: flex;
    column-gap: 20px;
  }
}

.footer-list_2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-list_1 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  img {
    margin-bottom: 11px;
  }

  .copy {
    margin-bottom: 16px;
  }
}

@media (max-width: 870px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
row-gap: 40px;
    .footer-left {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    .footer-right {

      grid-column: 1/3;

      grid-row: 2/3;
    }
  }
}

@media (max-width: 390px) {

  form {
    display: flex;
    flex-direction: column;
}
}
