#footer {
  padding: 65px;
  background-color: #161722;

  li {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.78;

    
  }

  form {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
  }

  input {
    padding: 20px;

    font-weight: 400;
    color: #ffffff;
    opacity: 0.8;
  }

  .footer-right {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
}
