#footer {
  padding: 65px;
  background-color: #161722;

  li {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.78;

    a:hover {
      color: #ffd2a4;
      transition: 1s;
    }
  }

  .footer-right {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    form {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 12px;

      input {
        padding: 20px;

        font-weight: 400;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}
