@font-face {
  font-family: roboto-condensed;
  src: url(../../fonts/RobotoCondensed.ttf);
}

@font-face {
  font-family: roboto-condensed;
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: roboto-condensed;
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
