.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  padding: 20px 50px;
  font-weight: 400;
  font-size: 16px;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  text-transform: uppercase;
  color: #1c1d28;
  background-color: #ffd2a4;

  &:hover {
    color: #ffd2a4;
    background-color: #1c1d28;
    transition: 1s;
  }
}

// ---------

@mixin gird($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-column-gap: $gap;
}

@mixin btn {
  padding: 24px 64px;
  background: #ffd2a4;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1C1D28;
  transition: 1s;
  
    &:hover {
      color: #ffd2a4;
      background-color: #1c1d28;
     
    }
  
}


@mixin center {
  display: flex;
  justify-content: center;
}