@use "../global";
@use "../abstrcts/variables" as var;
@use "../abstrcts/mixin";

#main__section-img {
  margin: 100px 0 0 0;
  background-image: url("../../images/sermons/church.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 432px;
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #232536;
  }
  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #232536;
  }
}

.main__section-title {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main__title {
  margin-top: 115px;
  text-align: center;
  h5 {
    margin: 10px 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var.$blak-color;
  }

  h1 {
    margin: 10px 0 64px 0;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: var.$blak-color;
    text-align: center;
    max-width: 700px;
  }
}

.left__right {
  display: flex;
  margin-bottom: 50px;
}

.left__title {
  background: #fff5eb;
  max-width: 100%;
  padding: 51px 90px 0 90px;
  h4 {
    margin-bottom: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var.$background-color;
    // background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;
  }
  h1 {
    margin: 16px 0;
    max-width: 250px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var.$blak-color;
  }
  p {
    max-width: 350px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$blak-color;
  }
}

.left__title-row {
  width: 200px;
  display: flex;
  img {
    width: 35px;
  }
  p {
    margin: 16px 10px 16px 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$blak-color;
  }
}

.btn-left button {
  width: 191px;
  height: 64px;
  margin: 32px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffd2a4;
  background: var.$blak-color;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  &:hover {
    color: var.$main-color;
    transition: 0.5s;
  }
}

.right__img {
  img {
    max-width: 100%;
    height: 100%;
  }
}

.btn-left-2 {
  display: flex;
  justify-content: end;
}
/**/

.card__intro {
  margin: 128px 0 64px 0;
  text-align: center;
  h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var.$blak-color;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 128px;
  .card__title {
    padding: 80px 50px;
    background: #fff5eb;
    h4 {
      margin-bottom: 8px;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: var.$background-color;
    }
    h1 {
      margin: 8px 0;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: var.$blak-color;
    }
    p {
      max-width: 100%;
      margin: 8px 0 16px 0;
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: var.$blak-color;
      opacity: 0.78;
    }
  }
}

.cards:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
  border-bottom: 14px solid var.$background-color;
  transition: 0.8s;
}

.card__title-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  img {
    width: 30px;
  }
  h2 {
    margin: 16px 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$blak-color;
  }
}

/**/
@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  #main__section-img {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 900px) {
  .left__right {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card__title-row {
    display: flex;
    grid-gap: 35px;
  }
}

@media (max-width: 420px) {
  .main__section-title h1 {
    font-weight: 700;
    font-size: 24px;
  }
}
