* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  font-family: "roboto-condensed", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/RobotoCondensed-Bold.ttf") format("ttf"), url("../../fonts/RobotoCondensed-Bold.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/RobotoCondensed-Regular.ttf") format("ttf"), url("../../fonts/RobotoCondensed-Regular.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/RobotoCondensed.ttf") format("ttf"), url("../../fonts/RobotoCondensed.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  padding: 40px 0px;
  background-color: #0d0d0d;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#header .nav-left {
  -moz-column-gap: 130px;
       column-gap: 130px;
}
#header .nav-left .nav-lists {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#header .nav-left .nav-lists a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#header .nav-left .nav-lists a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#header .nav-right .fa-bars {
  width: 20px;
  color: white;
}

/*-- navigation bar mobile---*/
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  transition: 0.7s;
}
#navbar-responsive .nav-box {
  display: flex;
  justify-content: right;
}
#navbar-responsive .nav-box #navbar-close {
  margin: 35px 22px 0px 0px;
}
#navbar-responsive .nav-box #navbar-close:hover {
  transform: rotate(360deg);
  transition: 1s;
}
#navbar-responsive .nav-position {
  text-align: center;
}
#navbar-responsive .nav-position li {
  margin: 50px 0px;
}
#navbar-responsive .nav-position li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#navbar-responsive .nav-position li a:hover {
  color: #ffd2a4;
  transition: 1s;
}

/*-- navigation bar mobile---*/
@media (min-width: 940px) {
  header #navbar-open {
    display: none;
  }
}
@media (max-width: 940px) {
  header .nav-lists {
    display: none;
  }
  header .primary-button {
    display: none;
  }
}
#footer {
  padding: 65px 0px;
  background-color: #161722;
}
#footer .footer-container {
  display: grid;
  grid-template-columns: auto 45%;
  align-items: start;
}
#footer .footer-left {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
}
#footer .footer-left li {
  font-weight: 400;
  color: #ffffff;
}
#footer .footer-left li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
#footer .footer-left li a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#footer .footer-right {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
#footer .footer-right h4 {
  max-width: 377px;
}
#footer .footer-right form {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
#footer .footer-right form input {
  padding: 20px 0px 20px 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
}

.footer-list_3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-list_3 .social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer-list_2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-list_1 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-list_1 img {
  margin-bottom: 11px;
}
.footer-list_1 .copy {
  margin-bottom: 16px;
}

@media (max-width: 870px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 40px;
  }
  .footer-container .footer-left {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .footer-container .footer-right {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (max-width: 390px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  padding: 20px 50px;
  font-weight: 400;
  font-size: 16px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 12px;
  text-transform: uppercase;
  color: #1c1d28;
  background-color: #ffd2a4;
}
.primary-button:hover {
  color: #ffd2a4;
  background-color: #1c1d28;
  transition: 1s;
}

#intro-section_about {
  margin-top: 80px;
  padding: 160px 0px;
  background-image: url(../../images/about/intro-banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#intro-section_about .about-box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
#intro-section_about .about-box h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #161722;
}
#intro-section_about .about-box h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #161722;
}

#dublecards-section_about {
  padding: 130px 0px 0px;
  background: #e5e5e5;
}
#dublecards-section_about .dublecards-container_about {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
#dublecards-section_about .dublecards-container_about .dublecards-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  text-transform: uppercase;
  color: #161722;
}
#dublecards-section_about .dublecards-container_about .dublecards-top h6 {
  font-weight: 400;
}
#dublecards-section_about .dublecards-container_about .dublecards-top h2 {
  font-weight: 700;
  max-width: 500px;
  text-align: center;
}
#dublecards-section_about .dublecards-container_about .dublecards-bottom {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
#dublecards-section_about .dublecards-container_about .dublecards-bottom .dublecards-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
  color: #161722;
}
#dublecards-section_about .dublecards-container_about .dublecards-bottom .dublecards-card h4 {
  font-weight: 700;
  text-transform: uppercase;
}
#dublecards-section_about .dublecards-container_about .dublecards-bottom .dublecards-card h6 {
  font-weight: 400;
  opacity: 0.78;
  max-width: 500px;
}
#dublecards-section_about .dublecards-container_about .dublecards-bottom .dublecards-card img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

#team-section_about {
  padding: 130px 0px;
  background: #e5e5e5;
}
#team-section_about .team-container_about {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
#team-section_about .team-container_about .team-top {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  text-transform: uppercase;
  color: #161722;
  text-align: center;
}
#team-section_about .team-container_about .team-top h6 {
  font-weight: 400;
}
#team-section_about .team-container_about .team-top h2 {
  font-weight: 700;
}
#team-section_about .team-container_about .team-bottom {
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
#team-section_about .team-container_about .team-bottom .bottom-card {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f2f0;
  color: #161722;
}
#team-section_about .team-container_about .team-bottom .bottom-card:hover {
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#team-section_about .team-container_about .team-bottom .bottom-card h5 {
  margin: 26px 0px 8px;
  font-weight: 700;
  text-transform: uppercase;
}
#team-section_about .team-container_about .team-bottom .bottom-card p {
  font-weight: 400;
  opacity: 0.7;
}
#team-section_about .team-container_about .team-bottom .bottom-card .team-social-box {
  margin-top: 16px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

@media (min-width: 790px) {
  .dublecards-bottom {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 970px) {
  .team-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 970px) {
  .team-bottom {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 24px;
  }
}
@media (max-width: 790px) {
  .dublecards-bottom {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .team-bottom {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .team-bottom .card-1 {
    grid-row: 1/2;
  }
  .team-bottom .card-2 {
    grid-row: 2/3;
  }
  .team-bottom .card-3 {
    grid-row: 4/5;
  }
  .team-bottom .card-4 {
    grid-row: 3/4;
  }
  .team-bottom .card-5 {
    grid-row: 5/6;
  }
  .team-bottom .card-6 {
    grid-row: 6/7;
  }
  .team-bottom .card-7 {
    grid-row: 8/9;
  }
  .team-bottom .card-8 {
    grid-row: 7/8;
  }
}