@font-face {
  font-family: "roboto-condensed";
  src: url("../../fonts/RobotoCondensed.ttf");
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
  font-family: "roboto-condensed", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  padding: 20px 50px;
  font-weight: 400;
  font-size: 16px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 12px;
  text-transform: uppercase;
  color: #1c1d28;
  background-color: #ffd2a4;
}
.primary-button:hover {
  color: #ffd2a4;
  background-color: #1c1d28;
  transition: 1s;
}

#header {
  padding: 40px 0px;
  background-color: #0d0d0d;
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
#header .nav-left {
  -moz-column-gap: 130px;
       column-gap: 130px;
}
#header .nav-left .nav-lists {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
#header .nav-left .nav-lists a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#header .nav-left .nav-lists a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#header .nav-right .fa-bars {
  width: 20px;
  color: white;
}

/*-- navigation bar mobile---*/
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  transition: 0.7s;
}
#navbar-responsive .nav-box {
  display: flex;
  justify-content: right;
}
#navbar-responsive .nav-box #navbar-close {
  margin: 35px 22px 0px 0px;
}
#navbar-responsive .nav-box #navbar-close:hover {
  transform: rotate(360deg);
  transition: 1s;
}
#navbar-responsive .nav-position {
  text-align: center;
}
#navbar-responsive .nav-position li {
  margin: 50px 0px;
}
#navbar-responsive .nav-position li a {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
#navbar-responsive .nav-position li a:hover {
  color: #ffd2a4;
  transition: 1s;
}

/*-- navigation bar mobile---*/
@media (min-width: 940px) {
  header #navbar-open {
    display: none;
  }
}
@media (max-width: 940px) {
  header .nav-lists {
    display: none;
  }
  header .primary-button {
    display: none;
  }
}
#footer {
  padding: 65px 0px;
  background-color: #161722;
}
#footer .footer-container {
  display: grid;
  grid-template-columns: auto 45%;
  align-items: start;
}
#footer .footer-left {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
}
#footer .footer-left li {
  font-weight: 400;
  color: #ffffff;
}
#footer .footer-left li a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
#footer .footer-left li a:hover {
  color: #ffd2a4;
  transition: 1s;
}
#footer .footer-right {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
#footer .footer-right h4 {
  max-width: 377px;
}
#footer .footer-right form {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
#footer .footer-right form input {
  padding: 20px 0px 20px 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
}

.footer-list_3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer-list_3 .social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer-list_2 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-list_1 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-list_1 img {
  margin-bottom: 11px;
}
.footer-list_1 .copy {
  margin-bottom: 16px;
}

@media (max-width: 870px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 40px;
  }
  .footer-container .footer-left {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .footer-container .footer-right {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (max-width: 390px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
#home {
  margin-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/home/woman-in-orange-coat-with-black-and-brown-scarf-5418305.jpg");
}
#home .home__bady h3 {
  padding-top: 128px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  max-width: 186px;
  color: #FFFFFF;
}
#home .home__bady h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  max-width: 592px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
#home .home__bady button {
  padding: 24px 64px;
  background: #ffd2a4;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1c1d28;
  transition: 1s;
  margin-bottom: 64px;
}
#home .home__bady button:hover {
  color: #ffd2a4;
  background-color: #1c1d28;
}
#home .home__bady .home-end {
  display: flex;
  gap: 12px;
}
#home .home__bady .home-end .divadr {
  height: 2px;
  background-color: #ffd2a4;
  width: 18px;
}
#home .home__bady .home-end p {
  font-style: normal;
  margin-top: -7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 308px;
  color: #ffffff;
  padding-bottom: 200px;
}

#about .about__header {
  padding-top: 128px;
}
#about .about__header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
#about .about__header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
#about .about__bady .about-card {
  padding: 80px;
  background: #fff5eb;
  border: 16px solid #ffd2a4;
  margin-bottom: 28px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
#about .about__bady .about-card h1 {
  font-style: normal;
  margin-top: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
#about .about__bady .about-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  max-width: 251px;
  color: #161722;
}

.semon-row .semon-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.semon-row .semon-top span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  /* Black */
  color: #161722;
}
.semon-row .semon-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  margin-top: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 544px;
  margin-bottom: 32px;
  color: #161722;
}
.semon-row .semon-top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 846px;
  padding-bottom: 40px;
  text-align: center;
  /* Black */
  color: #161722;
  opacity: 0.78;
}
.semon-row .suma__card {
  margin-top: 40px;
  text-align: center;
}
.semon-row .suma__card .card-suma {
  text-align: center;
}
.semon-row .suma__card .card-suma img {
  max-width: 293px;
  width: 100%;
}
.semon-row .suma__card .head {
  text-align: center;
  margin-bottom: 15px;
  max-width: 390px;
}
.semon-row .suma__card .head img {
  width: 100%;
}
.semon-row .suma__card .head button {
  margin-top: -30px;
  padding: 24px 64px;
  background: #ffd2a4;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1c1d28;
  transition: 1s;
  margin-bottom: 64px;
}
.semon-row .suma__card .head button:hover {
  color: #ffd2a4;
  background-color: #1c1d28;
}
.semon-row .suma-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 128px;
  text-align: center;
}
.semon-row .suma-bottom span {
  font-style: normal;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.semon-row .suma-bottom h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.semon-row .suma-bottom p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: center;
  max-width: 512px;
  color: #161722;
  opacity: 0.78;
}

#blog {
  background: #f5f2f0;
}
#blog .blog-row {
  padding-top: 128px;
}
#blog .blog-row .blog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#blog .blog-row .blog-top span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  /* Black */
  color: #161722;
}
#blog .blog-row .blog-top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  max-width: 432px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  /* Black */
  color: #161722;
}
#blog .blog-row .blog-card {
  margin-top: 64px;
  padding-bottom: 128px;
}
#blog .blog-row .blog-card .card-blog {
  padding: 32px;
  margin-top: 24px;
  max-width: 302px;
  background: linear-gradient(184.38deg, #060606 16.68%, rgba(0, 0, 0, 0.02) 96.44%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/home/blog1/fashion-man-love-people-5875438.png);
}
#blog .blog-row .blog-card .card-blog h1 {
  margin-top: 176px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 238px;
  color: #ffffff;
}
#blog .blog-row .blog-card .card-blog p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  margin-top: 16px;
  color: #ffffff;
  max-width: 238px;
  opacity: 0.78;
}
#blog .blog-row .blog-card .blog-card2 {
  padding: 32px;
  max-width: 302px;
  margin-top: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/home/blog3/a-statue-holding-a-holy-book-5613134.png);
}
#blog .blog-row .blog-card .blog-card2 h1 {
  margin-top: 295px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 238px;
  color: #ffffff;
}
#blog .blog-row .blog-card .blog-card3 {
  padding: 32px;
  max-width: 302px;
  margin-top: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/home/blog2/man-people-woman-connection-6276711.png);
}
#blog .blog-row .blog-card .blog-card3 h1 {
  margin-top: 295px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 238px;
  color: #ffffff;
}
#blog .blog-row .blog-card .blog-card4 {
  padding: 32px;
  max-width: 302px;
  margin-top: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/home/blog2/woman-in-blue-tank-top-and-man-in-red-shirt-painting-3795022.png);
}
#blog .blog-row .blog-card .blog-card4 h1 {
  margin-top: 295px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 238px;
  color: #ffffff;
}

@media (min-width: 700px) {
  .about__bady {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
  }
  #home .home__bady h1 {
    font-size: 66px;
  }
  .blog-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }
}
@media (min-width: 900px) {
  .about__bady {
    grid-template-columns: repeat(3, 1fr);
  }
  .suma__card {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
@media (min-width: 1150px) {
  .blog-card {
    grid-template-columns: repeat(4, 1fr);
  }
}